.container {
    margin-top: 50px;

  }

  .section-title {
    margin-bottom: 10px;
  }

  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .half-width {
    width: 20%;
    margin-bottom: 10px;
  }


  .half-width-margin{
    width: 20%;
    margin-bottom: 10px;
    margin-left: 10px !important;
  }

  .error-message {
    font-size: 12px;
  }

  .submit-btn {
    margin-top: 20px;
  }

  

  .picture-uploader {
    position: relative;
    z-index: 1;
    width: 300px;
    height:300px;
    background-image:url(/assets/profile-placeholder.png);
    background-size: contain;
    border-radius: 1em;
  }
  
  .picture-uploader img {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 2;
    border-radius: 1em;
  }
  
  .picture-uploader label {
    width: 300px;
    height: 300px;
    position: relative;
    z-index: 3;
  }
  
  .picture-uploader .drag-over .infotext {
    color: rgb(151, 151, 151);
    border: dashed 5px white;
  }
  
  .picture-uploader .infotext {
    margin-left: 5px;
    margin-top: 5px;
    height: 290px;
    width: 290px;
    vertical-align: middle;
    text-align: center;
    color: rgb(151, 151, 151);
    border: dashed 3px rgb(151, 151, 151);
    border-radius: 10px;
    padding-top: 110px;
    font-size: 150%;
  }
  