<mat-card>
  <mat-card-header>
    <mat-card-title class= "mat-card-title-Without-text-align" >Characters List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Search </mat-label>
      <input matInput #searchBox id="search-box" />
      <button mat-button matSuffix aria-label="search" class="small-button" onclick="search(searchBox.value)">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
      <div class="example-table-container div-border">
      <table
        mat-table
        [dataSource]="dataSource"
        class="align-middle mb-0 bg-white"
      >
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef class="bg-light"
            >Name</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.name }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Picture">
          <mat-header-cell *matHeaderCellDef class="bg-light"
            >Picture</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{row.pictureUrl}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef class="bg-light"
            >Action</mat-header-cell
          >
          <mat-cell mat-cell *matCellDef="let row">
            <button mat-button routerLink="characteredit/{{ row.id }}">Edit</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columnsToDisplay"></mat-row>
      </table>
      <mat-divider></mat-divider>
      <mat-paginator
        [length]="resultsLength"
        [pageSize]="30"
        aria-label="Select page of GitHub search results"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
