<div class="container">
      <h2 class="section-title" *ngIf="isAddMode">Add User details</h2>
      <h2 class="section-title" *ngIf="!isAddMode">Edit User details</h2>
      <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmitUserDetails(userDetailsForm.value)">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullname" required>
          <mat-error class="error-message" *ngIf="userDetailsForm.get('fullname')?.hasError('required') &&
            (userDetailsForm.get('fullname')?.dirty || userDetailsForm.get('fullname')?.touched)">Full name is
            required</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email </mat-label>
          <input matInput type="email" formControlName="email" required>
          <mat-error class="error-message" *ngIf="userDetailsForm.get('email')?.hasError('required') &&
            (userDetailsForm.get('email')?.dirty || userDetailsForm.get('email')?.touched)">Email is
            required</mat-error>
          <mat-error class="error-message" *ngIf="userDetailsForm.get('email')?.hasError('pattern') &&
            (userDetailsForm.get('email')?.dirty || userDetailsForm.get('email')?.touched)">Enter a valid
            email</mat-error>
        </mat-form-field>



        <div formGroupName="matchingPasswords" *ngIf="isAddMode">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email </mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngFor="let validation of account_validation_messages.password">
              <mat-error class="error-message" *ngIf="accountDetailsForm.get('matchingPasswords').get('password').hasError(validation.type) && (accountDetailsForm.get('matchingPasswords').get('password').dirty || accountDetailsForm.get('matchingPasswords').get('password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password"  [errorStateMatcher]="parentErrorStateMatcher" required>
            <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
              <mat-error class="error-message" *ngIf="(accountDetailsForm.get('matchingPasswords').get('confirm_password').hasError(validation.type)|| accountDetailsForm.get('matchingPasswords').hasError(validation.type)) && (accountDetailsForm.get('matchingPasswords').get('confirm_password').dirty || accountDetailsForm.get('matchingPasswords').get('confirm_password').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>

        </div>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Date Of Birth </mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error class="error-message" *ngIf="userDetailsForm.get('birthday')?.hasError('required') &&
              (userDetailsForm.get('birthday')?.dirty || userDetailsForm.get('birthday')?.touched)">Please insert your
            birthday</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Gender </mat-label>
          <mat-select>
            <mat-option *ngFor="let gender of genders" [value]="gender">
              {{ gender }}
            </mat-option>
          </mat-select>

          <mat-error class="error-message" *ngIf="userDetailsForm.get('gender')?.hasError('required') &&
              (userDetailsForm.get('gender')?.dirty || userDetailsForm.get('gender')?.touched)">Please select your
            gender</mat-error>

        </mat-form-field>

        <div formGroupName="countryPhone" class="row">
          <mat-form-field class="full-width col-4" appearance="outline">
            <mat-label>Country </mat-label>
            <mat-select formControlName="country" placeholder="">
              <mat-option *ngFor="let country of countries" [value]="country">
                {{ country.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="full-width col-8" appearance="outline">
            <mat-label>Phone No </mat-label>
            <input matInput type="tel" formControlName="phone" required>
            <mat-hint align="start"><strong>Mobile:</strong> {{ userDetailsForm.value.countryPhone.country.sampleMobilePhone }}</mat-hint>
            <mat-hint align="end"><strong>Fixed:</strong> {{ userDetailsForm.value.countryPhone.country.sampleFixedPhone }}</mat-hint>
            <mat-error class="error-message" class="error-message"
              *ngIf="userDetailsForm.get('countryPhone')?.get('phone')?.hasError('required')
                && (userDetailsForm.get('countryPhone')?.get('phone')?.dirty || userDetailsForm.get('countryPhone')?.get('phone')?.touched)"> Phone is required
            </mat-error>
            <mat-error class="error-message" class="error-message"
              *ngIf="userDetailsForm.get('countryPhone')?.get('phone')?.hasError('validCountryPhone')
                && (userDetailsForm.get('countryPhone')?.get('phone')?.dirty || userDetailsForm.get('countryPhone')?.get('phone')?.touched)"> Phone incorrect for the
              country selected
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Bio Data </mat-label>
          <textarea matInput maxlength="256" formControlName="bio" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="5"></textarea>
          <mat-hint align="start">Tell us about yourself</mat-hint>
          <mat-hint align="end">{{userDetailsForm.get('bio')?.value.length}} / 256</mat-hint>
          <mat-error class="error-message"
            *ngIf="userDetailsForm.get('bio')?.hasError('maxlength') && (userDetailsForm.get('bio')?.dirty || userDetailsForm.get('bio')?.touched)">'Bio
            cannot be more than 256 characters long'</mat-error>
        </mat-form-field>

        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!userDetailsForm.valid">
          Submit
        </button>

      </form>
  </div>
