h1 {
  padding: 0 1rem;
  color: white;
}

h2 {
  padding: 1rem;
  color: white;
}

h3 {
  padding: 1rem;
  color: white;
  font-size: 17px !important
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
  --mdc-text-button-label-text-color: white !important
}

.span-mdc-list-item {
  line-height: 12px !important;
  font-size: 15px !important;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #3f51b5;
  color: white;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  padding-top: 3.5rem;
  transition: width 0.3s ease;
}

@media screen and (min-width: 600px) {
  mat-sidenav {
    padding-top: 4rem;
  }
}

mat-sidenav .entry {

  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
}

mat-sidenav-content {
  padding-top: 3.5rem;
}

@media screen and (min-width: 600px) {
  mat-sidenav-content {
    padding-top: 4rem;
  }
}

[mat-button] {
  justify-content: flex-start;
}
.expension-header-padding
{
  padding-right: 25px;
  padding-left: 6px;
}

mat-panel-title {
  flex-basis: 0;
}
mat-panel-description {
  flex-basis: 100%;
  color: black !important;
}


.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 100%;
  margin: 0;
}  
.app-sidenav {
  width: 250px;
}
.app-sidenav-content {
  display: inline;
  height: 100%;
  align-items: center;
  justify-content: center;
}


