<div id="app">
    <mat-toolbar>
        <button mat-icon-button (click)="isExpanded = !isExpanded">
            <mat-icon>menu</mat-icon>
        </button>

        <h3>Voting Application</h3>
        <a mat-button href="/home" class="nav-link " routerLink="home">Home </a>
        <span class="example-spacer"></span>
        <a mat-button href="/login" class="nav-link" routerLink="login" *ngIf="!isLoggedIn">Login</a>
        <a mat-button href="/profile" class="nav-link" routerLink="profile" *ngIf="isLoggedIn">{{ username }}</a>
        <a mat-button class="nav-link" (click)="logout()" *ngIf="isLoggedIn">LogOut</a>
    </mat-toolbar>
    <mat-sidenav-container class="example-container" autosize>
        <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" >
            <mat-nav-list>
                <mat-list-item (click)="showSubmenu = !showSubmenu">
                    <mat-icon mat-list-icon class="menu-mat-icon-left">supervisor_account</mat-icon>
                    <span *ngIf="isExpanded || isShowing" class="span-mdc-list-item">User Management </span>
                    <mat-icon class="menu-button menu-mat-icon-right" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
                </mat-list-item>
                <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                    <a mat-list-item href="...">View User</a>
                    <a mat-list-item href="...">Add User</a>
                    <a mat-list-item href="...">Update User</a>
                </div>
                <mat-list-item (click)="showSubmenu = !showSubmenu">
                    <mat-icon mat-list-icon class="menu-mat-icon-left">supervised_user_circle</mat-icon>
                    <span *ngIf="isExpanded || isShowing" class="span-mdc-list-item">Character Management </span>
                    <mat-icon class="menu-button menu-mat-icon-right" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
                </mat-list-item>
                <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
                    <a mat-list-item href="...">View Characters</a>
                    <a mat-list-item href="...">Add Character</a>
                    <a mat-list-item href="...">Update Character</a>
                </div>
                <mat-list-item (click)="showSubmenu = !showSubmenu">
                    <mat-icon mat-list-icon class="menu-mat-icon-left">supervised_user_circle</mat-icon>
                    <span *ngIf="isExpanded || isShowing" class="span-mdc-list-item">Character Management </span>
                    <mat-icon class="menu-button menu-mat-icon-right" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
                </mat-list-item>
                <mat-list-item (click)="showSubmenu = !showSubmenu">
                    <mat-icon mat-list-icon class="menu-mat-icon-left">supervised_user_circle</mat-icon>
                    <span *ngIf="isExpanded || isShowing" class="span-mdc-list-item">Character Management </span>
                    <mat-icon class="menu-button menu-mat-icon-right" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
                </mat-list-item>

            </mat-nav-list>
            <mat-nav-list>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
