<div class="col-md-12">
    <mat-card class="login-mat-card ">
        <mat-card-header class="title_center">
            <mat-card-title class="mat-card-title">Register</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form *ngIf="!isSuccessful"
                  name="form"
                  (ngSubmit)="onSubmit()"
                  #f="ngForm"
                  novalidate [formGroup]="loginForm">
                <mat-form-field appearance="outline">
                  <mat-label>Full Name </mat-label>
                    <input class="input-width" matInput name="username" formControlName="username" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Email </mat-label>
                    <input class="input-width" matInput name="email" formControlName="email"
                           required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Password </mat-label>
                    <input class="input-width" matInput name="password" formControlName="password"
                           required
                           minlength="6">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                    <input class="input-width" matInput name="confirmPassword" formControlName="confirmPassword"
                           required
                           minlength="6">
                </mat-form-field>
                <button mat-stroked-button>
                    Register
                </button>

                <section aria-label="Log in" class="another-action">
                    Already have an account?
                    <a routerlink="../login"
                       class="text-link"
                       href="./login">Log in</a>
                </section>



                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{ errorMessage }}
                </div>
            </form>

            <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
            </div>

        </mat-card-content>
    </mat-card>
</div>
