<div class="col-md-12">
    <mat-card class="login-mat-card ">
        <mat-card-content>
            <mat-card-header class="title_center">
                <mat-card-title class="mat-card-title">Login</mat-card-title>
                <mat-card-subtitle>Hello! Log in with your email.</mat-card-subtitle>
            </mat-card-header>
            <form *ngIf="!isLoggedIn"
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate [formGroup]="loginForm">
                  <mat-form-field appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input matInput name="userid"
                           required>
                <mat-error class="error-message" *ngIf="loginForm.get('userid')?.hasError('required') &&
                (loginForm.get('userid')?.dirty || loginForm.get('userid')?.touched)">User name is
            required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                    <input matInput name="password"
                           required
                           minlength="6">
                           <mat-error class="error-message" *ngIf="loginForm.get('password')?.hasError('required') &&
                           (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">Password field is empty</mat-error>
                </mat-form-field>
                <button mat-stroked-button>
                    LOG IN
                </button>

                <section aria-label="Register" class="another-action">
                Don't have an account?
                <a routerlink="../register"
                    class="text-link"
                    href="./register">Register</a>
                </section>

                <div class="form-group">
                    <div class="alert alert-danger"
                         role="alert"
                         *ngIf="f.submitted && isLoginFailed">
                        Login failed: {{ errorMessage }}
                    </div>
                </div>
            </form>

            <div class="alert alert-success" *ngIf="isLoggedIn">
                Logged in as {{ roles }}.
            </div>
        </mat-card-content>
    </mat-card>
</div>
