<mat-card>
  <mat-card-header>
    <mat-card-title class= "mat-card-title-Without-text-align" >Users List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Search </mat-label>
          <input matInput #searchBox id="search-box" />
          <button mat-button matSuffix aria-label="search" class="small-button" (click)="search(searchBox.value)">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      <div class="example-table-container div-border">
      <mat-table
        [dataSource]="dataSource"
        class="align-middle mb-0 bg-white"
      >
        <ng-container matColumnDef="Title">
          <mat-header-cell *matHeaderCellDef class="bg-light"
            >Title</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.title }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="FirstName">
          <mat-header-cell *matHeaderCellDef class="bg-light"
            >FirstName</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.firstName }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="LastName">
          <mat-header-cell *matHeaderCellDef class="bg-light"
            >LastName</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.lastName }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef class="bg-light"
            >Email</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.email }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Role">
          <mat-header-cell *matHeaderCellDef class="bg-light"
            >Role</mat-header-cell
          >
          <mat-cell *matCellDef="let row">
            {{ row.role }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef class="bg-light"
            >Action</mat-header-cell
          >
          <mat-cell mat-cell *matCellDef="let row">
            <button mat-button routerLink="edit/{{ row.id }}">Edit</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columnsToDisplay"></mat-row>
      </mat-table>
      <mat-divider></mat-divider>
      <mat-paginator
        [length]="resultsLength"
        [pageSize]="30"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
